/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

:root {
    --primary: cornflowerblue;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* BX */
.bx {
    font-size: 1.7rem;
}

/* Container */
.container {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: auto 1fr;
}

/* Sidebar */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--primary);
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.sidebar a {
    color: white;
}

.sb-1, .sb-2, .sb-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.sb-logo {
    margin-bottom: 25px;
}

.sb-1, .sb-2 {
    padding-bottom: 5px;
}

.sb-logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.sb-1 span {
    align-self: center;
    font-weight: 400;
}

.sidebar i {
    padding-right: 1rem;
}

.sb-2-container {
    margin-top: auto;
}

/* Nav */
nav {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

nav a {
    color: black;
}

.nav-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-top-row form {
    display: flex;
}

.nav-top-row input {
    height: 25px;
    margin-left: 10px;
    width: 50vw;  
    max-width: 600px;  
    min-width: 200px;  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px; 
    background-color: whitesmoke;
    box-sizing: border-box;
    padding-right: 20px;
}

.nav-top-row-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-top-row img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-top-profile a {
    font-weight: bold;
}

/* Article */
article {
    display: grid;
}